<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.starter.workflow.mapper.AstFlowNodeHistoryMapper">

    <select id="queryPage" resultType="com.astrsomn.api.workflow.domain.dto.nodehistory.AstFlowNodeHistoryResponseDTO">
        SELECT
        h.ID AS id,
        h.INSTANCE_ID AS instanceId,
        h.FLOW_DEFINITION_ID AS flowDefinitionId,
        h.VERSION AS version,
        h.HISTORY_TYPE AS historyType,
        h.NODE_ID AS nodeId,
        h.NODE_NAME AS nodeName,
        h.INPUT_DATA AS inputData,
        h.OUTPUT_DATA AS outputData,
        h.SNAPSHOT_JSON AS snapshotJson,
        h.EXECUTION_MS AS executionMs,
        h.ENV_CODE AS envCode,
        h.DELETED AS deleted,
        h.CREATE_USER AS createUser,
        h.CREATE_TIME AS createTime,
        h.UPDATE_USER AS updateUser,
        h.UPDATE_TIME AS updateTime
        FROM AST_FLOW_NODE_HISTORY h
        WHERE (h.DELETED = 0 OR h.DELETED IS NULL)
        <if test="req != null and req.instanceId != null">
            AND h.INSTANCE_ID = #{req.instanceId}
        </if>
        <if test="req != null and req.flowDefinitionId != null">
            AND h.FLOW_DEFINITION_ID = #{req.flowDefinitionId}
        </if>
        <if test="req != null and req.version != null">
            AND h.VERSION = #{req.version}
        </if>
        <if test="req != null and req.historyType != null and req.historyType != ''">
            AND h.HISTORY_TYPE = #{req.historyType}
        </if>
        <if test="req != null and req.nodeId != null and req.nodeId != ''">
            AND h.NODE_ID LIKE CONCAT('%', #{req.nodeId}, '%')
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND h.ENV_CODE = #{req.envCode}
        </if>
        ORDER BY h.VERSION DESC, h.UPDATE_TIME DESC, h.ID DESC
    </select>

    <select id="detail" resultType="com.astrsomn.api.workflow.domain.dto.nodehistory.AstFlowNodeHistoryResponseDTO">
        SELECT
        h.ID AS id,
        h.INSTANCE_ID AS instanceId,
        h.FLOW_DEFINITION_ID AS flowDefinitionId,
        h.VERSION AS version,
        h.HISTORY_TYPE AS historyType,
        h.NODE_ID AS nodeId,
        h.NODE_NAME AS nodeName,
        h.INPUT_DATA AS inputData,
        h.OUTPUT_DATA AS outputData,
        h.SNAPSHOT_JSON AS snapshotJson,
        h.EXECUTION_MS AS executionMs,
        h.ENV_CODE AS envCode,
        h.DELETED AS deleted,
        h.CREATE_USER AS createUser,
        h.CREATE_TIME AS createTime,
        h.UPDATE_USER AS updateUser,
        h.UPDATE_TIME AS updateTime
        FROM AST_FLOW_NODE_HISTORY h
        WHERE h.ID = #{id}
        AND (h.DELETED = 0 OR h.DELETED IS NULL)
        <if test="envCode != null and envCode != ''">
            AND h.ENV_CODE = #{envCode}
        </if>
    </select>

</mapper>
