<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.starter.workflow.mapper.AstFlowInstanceMapper">

    <select id="queryPage" resultType="com.astrsomn.api.workflow.domain.dto.instance.AstFlowInstanceResponseDTO">
        SELECT
        i.ID AS id,
        i.DEPLOYMENT_ID AS deploymentId,
        i.BUSINESS_KEY AS businessKey,
        i.EXECUTION_STATUS AS executionStatus,
        i.CURRENT_NODE_ID AS currentNodeId,
        i.STATE_JSON AS stateJson,
        i.ENV_CODE AS envCode,
        i.DELETED AS deleted,
        i.CREATE_USER AS createUser,
        i.CREATE_TIME AS createTime,
        i.UPDATE_USER AS updateUser,
        i.UPDATE_TIME AS updateTime
        FROM AST_FLOW_INSTANCE i
        WHERE (i.DELETED = 0 OR i.DELETED IS NULL)
        <if test="req != null and req.deploymentId != null">
            AND i.DEPLOYMENT_ID = #{req.deploymentId}
        </if>
        <if test="req != null and req.businessKey != null and req.businessKey != ''">
            AND i.BUSINESS_KEY LIKE CONCAT('%', #{req.businessKey}, '%')
        </if>
        <if test="req != null and req.executionStatus != null and req.executionStatus != ''">
            AND i.EXECUTION_STATUS = #{req.executionStatus}
        </if>
        <if test="req != null and req.currentNodeId != null and req.currentNodeId != ''">
            AND i.CURRENT_NODE_ID = #{req.currentNodeId}
        </if>
        ORDER BY i.UPDATE_TIME DESC, i.ID DESC
    </select>

    <select id="detail" resultType="com.astrsomn.api.workflow.domain.dto.instance.AstFlowInstanceResponseDTO">
        SELECT
        i.ID AS id,
        i.DEPLOYMENT_ID AS deploymentId,
        i.BUSINESS_KEY AS businessKey,
        i.EXECUTION_STATUS AS executionStatus,
        i.CURRENT_NODE_ID AS currentNodeId,
        i.STATE_JSON AS stateJson,
        i.ENV_CODE AS envCode,
        i.DELETED AS deleted,
        i.CREATE_USER AS createUser,
        i.CREATE_TIME AS createTime,
        i.UPDATE_USER AS updateUser,
        i.UPDATE_TIME AS updateTime
        FROM AST_FLOW_INSTANCE i
        WHERE i.ID = #{id}
        AND (i.DELETED = 0 OR i.DELETED IS NULL)
    </select>

</mapper>
