<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.starter.mapper.AiPromptMapper">
    <select id="queryPage" resultType="com.astrsomn.core.common.dto.prompt.AiPromptResponseDTO">
        SELECT
        AP.*
        FROM
        `AI_PROMPT` AP
        INNER JOIN (
        SELECT
        ENV_CODE,
        PROMPT_KEY,
        MAX(VERSION) AS max_version
        FROM
        `AI_PROMPT`
        WHERE
        DELETED = 0
        GROUP BY
        ENV_CODE,
        PROMPT_KEY
        ) LATEST ON AP.ENV_CODE = LATEST.ENV_CODE
        AND AP.PROMPT_KEY = LATEST.PROMPT_KEY
        AND AP.VERSION = LATEST.max_version
        WHERE
        AP.DELETED = 0
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND AP.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.createUser != null and req.createUser != ''">
            AND AP.CREATE_USER = #{req.createUser}
        </if>
        <if test="req != null and req.promptKey != null and req.promptKey != ''">
            AND AP.PROMPT_KEY = #{req.promptKey}
        </if>
        <if test="req != null and req.promptTitle != null and req.promptTitle != ''">
            AND AP.PROMPT_TITLE LIKE CONCAT('%', #{req.promptTitle}, '%')
        </if>
        <if test="req != null and req.scene != null and req.scene != ''">
            AND AP.SCENE = #{req.scene}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND AP.STATUS = #{req.status}
        </if>
        ORDER BY
        AP.CREATE_TIME DESC
    </select>

    <select id="listHistoryByPromptKey" resultType="com.astrsomn.core.common.dto.prompt.AiPromptResponseDTO">
        SELECT
            AP.*
        FROM
            AI_PROMPT AP
        WHERE
            AP.DELETED = 0
          AND AP.PROMPT_KEY = #{promptKey}
          AND AP.ENV_CODE = #{envCode}
        ORDER BY
            AP.VERSION DESC,
            AP.ID DESC
    </select>

    <select id="getByUUID" resultType="java.lang.String">

    </select>
</mapper>
