<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.starter.mapper.SystemExtensionMapper">

    <select id="queryPage" resultType="com.astrsomn.core.common.dto.extension.SystemExtensionResponseDTO">
        SELECT
        SE.*
        FROM
        `SYS_EXTENSION` SE
        WHERE
        1=1
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND SE.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.extensionKey != null and req.extensionKey != ''">
            AND SE.EXTENSION_KEY LIKE CONCAT('%', #{req.extensionKey}, '%')
        </if>
        <if test="req != null and req.extensionName != null and req.extensionName != ''">
            AND SE.EXTENSION_NAME LIKE CONCAT('%', #{req.extensionName}, '%')
        </if>
        <if test="req != null and req.type != null and req.type != ''">
            AND SE.TYPE = #{req.type}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND SE.STATUS = #{req.status}
        </if>
        <if test="req != null and req.listScope != null and req.listScope == 'MARKETPLACE'">
            AND SE.STATUS = 'UNINSTALLED'
        </if>
        <if test="req != null and req.listScope != null and req.listScope == 'INSTALLED'">
            AND SE.STATUS IN ('INSTALLED', 'APPLIED')
        </if>
        <if test="req != null and req.listScope != null and req.listScope == 'APPLIED'">
            AND SE.STATUS = 'APPLIED'
        </if>
        ORDER BY
        SE.CREATE_TIME DESC
    </select>

</mapper>
