<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.workflow.starter.mapper.AstFlowNodeHistoryMapper">

    <select id="queryPage" resultType="com.astrsomn.workflow.core.domain.dto.nodehistory.AstFlowNodeHistoryResponseDTO">
        SELECT
        h.ID AS id,
        h.INSTANCE_ID AS instanceId,
        h.NODE_ID AS nodeId,
        h.INPUT_DATA AS inputData,
        h.OUTPUT_DATA AS outputData,
        h.EXECUTION_MS AS executionMs,
        h.ENV_CODE AS envCode,
        h.DELETED AS deleted,
        h.CREATE_USER AS createUser,
        h.CREATE_TIME AS createTime,
        h.UPDATE_USER AS updateUser,
        h.UPDATE_TIME AS updateTime
        FROM AST_FLOW_NODE_HISTORY h
        WHERE (h.DELETED = 0 OR h.DELETED IS NULL)
        <if test="req != null and req.instanceId != null">
            AND h.INSTANCE_ID = #{req.instanceId}
        </if>
        <if test="req != null and req.nodeId != null and req.nodeId != ''">
            AND h.NODE_ID LIKE CONCAT('%', #{req.nodeId}, '%')
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND h.ENV_CODE = #{req.envCode}
        </if>
        ORDER BY h.UPDATE_TIME DESC, h.ID DESC
    </select>

    <select id="detail" resultType="com.astrsomn.workflow.core.domain.dto.nodehistory.AstFlowNodeHistoryResponseDTO">
        SELECT
        h.ID AS id,
        h.INSTANCE_ID AS instanceId,
        h.NODE_ID AS nodeId,
        h.INPUT_DATA AS inputData,
        h.OUTPUT_DATA AS outputData,
        h.EXECUTION_MS AS executionMs,
        h.ENV_CODE AS envCode,
        h.DELETED AS deleted,
        h.CREATE_USER AS createUser,
        h.CREATE_TIME AS createTime,
        h.UPDATE_USER AS updateUser,
        h.UPDATE_TIME AS updateTime
        FROM AST_FLOW_NODE_HISTORY h
        WHERE h.ID = #{id}
        AND (h.DELETED = 0 OR h.DELETED IS NULL)
        <if test="envCode != null and envCode != ''">
            AND h.ENV_CODE = #{envCode}
        </if>
    </select>

</mapper>
