<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.workflow.starter.mapper.AstFlowBizIdempotentMapper">

    <select id="queryPage" resultType="com.astrsomn.workflow.core.domain.dto.bizidempotent.AstFlowBizIdempotentResponseDTO">
        SELECT
        b.ID AS id,
        b.IDEMPOTENT_KEY AS idempotentKey,
        b.BIZ_TYPE AS bizType,
        b.BIZ_ID AS bizId,
        b.REQUEST_HASH AS requestHash,
        b.RESULT_REF AS resultRef,
        b.EXPIRE_AT_MS AS expireAtMs,
        b.ENV_CODE AS envCode,
        b.DELETED AS deleted,
        b.CREATE_USER AS createUser,
        b.CREATE_TIME AS createTime,
        b.UPDATE_USER AS updateUser,
        b.UPDATE_TIME AS updateTime
        FROM AST_FLOW_BIZ_IDEMPOTENT b
        WHERE (b.DELETED = 0 OR b.DELETED IS NULL)
        <if test="req != null and req.idempotentKey != null and req.idempotentKey != ''">
            AND b.IDEMPOTENT_KEY = #{req.idempotentKey}
        </if>
        <if test="req != null and req.bizType != null and req.bizType != ''">
            AND b.BIZ_TYPE = #{req.bizType}
        </if>
        <if test="req != null and req.bizId != null and req.bizId != ''">
            AND b.BIZ_ID = #{req.bizId}
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND b.ENV_CODE = #{req.envCode}
        </if>
        ORDER BY b.UPDATE_TIME DESC, b.ID DESC
    </select>

    <select id="detail" resultType="com.astrsomn.workflow.core.domain.dto.bizidempotent.AstFlowBizIdempotentResponseDTO">
        SELECT
        b.ID AS id,
        b.IDEMPOTENT_KEY AS idempotentKey,
        b.BIZ_TYPE AS bizType,
        b.BIZ_ID AS bizId,
        b.REQUEST_HASH AS requestHash,
        b.RESULT_REF AS resultRef,
        b.EXPIRE_AT_MS AS expireAtMs,
        b.ENV_CODE AS envCode,
        b.DELETED AS deleted,
        b.CREATE_USER AS createUser,
        b.CREATE_TIME AS createTime,
        b.UPDATE_USER AS updateUser,
        b.UPDATE_TIME AS updateTime
        FROM AST_FLOW_BIZ_IDEMPOTENT b
        WHERE b.ID = #{id}
        AND (b.DELETED = 0 OR b.DELETED IS NULL)
        <if test="envCode != null and envCode != ''">
            AND b.ENV_CODE = #{envCode}
        </if>
    </select>

</mapper>
