<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.workflow.starter.mapper.AstFlowDeploymentMapper">

    <select id="queryPage" resultType="com.astrsomn.workflow.core.domain.dto.deployment.AstFlowDeploymentResponseDTO">
        SELECT
        d.ID AS id,
        d.FLOW_DEFINITION_ID AS flowDefinitionId,
        d.VERSION AS version,
        d.DEPLOYED_GRAPH_JSON AS deployedGraphJson,
        d.IS_LATEST AS latest,
        d.ENV_CODE AS envCode,
        d.DELETED AS deleted,
        d.CREATE_USER AS createUser,
        d.CREATE_TIME AS createTime,
        d.UPDATE_USER AS updateUser,
        d.UPDATE_TIME AS updateTime
        FROM AST_FLOW_DEPLOYMENT d
        WHERE (d.DELETED = 0 OR d.DELETED IS NULL)
        <if test="req != null and req.flowDefinitionId != null">
            AND d.FLOW_DEFINITION_ID = #{req.flowDefinitionId}
        </if>
        <if test="req != null and req.version != null">
            AND d.VERSION = #{req.version}
        </if>
        <if test="req != null and req.latest != null">
            AND d.IS_LATEST = #{req.latest}
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND d.ENV_CODE = #{req.envCode}
        </if>
        ORDER BY d.UPDATE_TIME DESC, d.ID DESC
    </select>

    <select id="detail" resultType="com.astrsomn.workflow.core.domain.dto.deployment.AstFlowDeploymentResponseDTO">
        SELECT
        d.ID AS id,
        d.FLOW_DEFINITION_ID AS flowDefinitionId,
        d.VERSION AS version,
        d.DEPLOYED_GRAPH_JSON AS deployedGraphJson,
        d.IS_LATEST AS latest,
        d.ENV_CODE AS envCode,
        d.DELETED AS deleted,
        d.CREATE_USER AS createUser,
        d.CREATE_TIME AS createTime,
        d.UPDATE_USER AS updateUser,
        d.UPDATE_TIME AS updateTime
        FROM AST_FLOW_DEPLOYMENT d
        WHERE d.ID = #{id}
        AND (d.DELETED = 0 OR d.DELETED IS NULL)
        <if test="envCode != null and envCode != ''">
            AND d.ENV_CODE = #{envCode}
        </if>
    </select>

</mapper>
