<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.astrsomn.core.mapper.AiAccountMapper">

    <select id="queryPage" resultType="org.astrsomn.core.common.dto.account.AiAccountResponseDTO">
        SELECT
        aa.*
        ,
        (
        SELECT
        COUNT(1)
        FROM
        AI_MODEL am
        WHERE
        (am.deleted = 0 OR am.deleted IS NULL)
        AND am.account_key = aa.account_key
        AND am.env_code = aa.env_code
        ) AS usedModelCount
        ,
        (
        SELECT
        GROUP_CONCAT(DISTINCT am.model_key ORDER BY am.model_key SEPARATOR ',')
        FROM
        AI_MODEL am
        WHERE
        (am.deleted = 0 OR am.deleted IS NULL)
        AND am.account_key = aa.account_key
        AND am.env_code = aa.env_code
        ) AS usedModelKeys
        ,
        (
        SELECT
        GROUP_CONCAT(DISTINCT am.model_name ORDER BY am.model_name SEPARATOR ',')
        FROM
        AI_MODEL am
        WHERE
        (am.deleted = 0 OR am.deleted IS NULL)
        AND am.account_key = aa.account_key
        AND am.env_code = aa.env_code
        ) AS usedModelNames
        FROM
        AI_ACCOUNT aa
        WHERE
        (aa.deleted = 0 OR aa.deleted IS NULL)
        <if test="req != null and req.accountKey != null and req.accountKey != ''">
            AND aa.account_key LIKE CONCAT('%', #{req.accountKey}, '%')
        </if>
        <if test="req != null and req.accountName != null and req.accountName != ''">
            AND aa.account_name LIKE CONCAT('%', #{req.accountName}, '%')
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND aa.env_code = #{req.envCode}
        </if>
        <if test="req != null and req.createUser != null and req.createUser != ''">
            AND aa.create_user = #{req.createUser}
        </if>
        ORDER BY
        aa.create_time DESC
    </select>
</mapper>
