<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.astrsomn.core.mapper.AiAgentMapper">


    <select id="queryPage" resultType="org.astrsomn.core.common.dto.agent.AiAgentResponseDTO">
        SELECT
        aa.*,
        am.model_name AS modelName,
        ap.prompt_title AS promptTitle
        FROM
        AI_AGENT aa
        LEFT JOIN AI_MODEL am
            ON am.model_key = aa.model_key
            AND am.env_code = aa.env_code
            AND (am.deleted = 0 OR am.deleted IS NULL)
        LEFT JOIN (
            SELECT env_code, prompt_key, MAX(version) AS max_version
            FROM AI_PROMPT
            WHERE deleted = 0
            GROUP BY env_code, prompt_key
        ) latest_p ON latest_p.env_code = aa.env_code AND latest_p.prompt_key = aa.prompt_key
        LEFT JOIN AI_PROMPT ap
            ON ap.prompt_key = aa.prompt_key
            AND ap.env_code = aa.env_code
            AND ap.version = latest_p.max_version
            AND (ap.deleted = 0 OR ap.deleted IS NULL)
        WHERE
            (aa.deleted = 0 OR aa.deleted IS NULL)
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND aa.env_code = #{req.envCode}
        </if>
        <if test="req != null and req.name != null and req.name != ''">
            AND aa.agent_name LIKE CONCAT('%', #{req.name}, '%')
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND aa.status = #{req.status}
        </if>
        ORDER BY
        aa.create_time DESC
    </select>
</mapper>