<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.core.mapper.AiMcpMapper">

    <select id="queryPage" resultType="com.astrsomn.core.common.dto.mcp.AiMcpResponseDTO">
        SELECT
        AMC.*
        FROM
        `AI_MCP` AMC
        WHERE
        1=1
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND AMC.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.mcpKey != null and req.mcpKey != ''">
            AND AMC.MCP_KEY = #{req.mcpKey}
        </if>
        <if test="req != null and req.type != null and req.type != ''">
            AND AMC.TYPE = #{req.type}
        </if>
        <if test="req != null and req.enabled != null">
            AND AMC.ENABLED = #{req.enabled}
        </if>
        ORDER BY
        AMC.CREATE_TIME DESC
    </select>

</mapper>
