<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.astrsomn.core.mapper.AiTemplateMapper">

    <select id="queryPage" resultType="org.astrsomn.core.common.dto.template.AiTemplateResponseDTO">
        SELECT
        AT.*
        FROM
        `AI_TEMPLATE` AT
        WHERE
        1=1
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND AT.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.templateKey != null and req.templateKey != ''">
            AND AT.TEMPLATE_KEY = #{req.templateKey}
        </if>
        <if test="req != null and req.templateTitle != null and req.templateTitle != ''">
            AND AT.TEMPLATE_TITLE LIKE CONCAT('%', #{req.templateTitle}, '%')
        </if>
        <if test="req != null and req.category != null and req.category != ''">
            AND AT.CATEGORY = #{req.category}
        </if>
        <if test="req != null and req.templateType != null and req.templateType != ''">
            AND AT.TEMPLATE_TYPE = #{req.templateType}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND AT.STATUS = #{req.status}
        </if>
        ORDER BY
        AT.CREATE_TIME DESC
    </select>

</mapper>
