<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.astrsomn.core.mapper.SystemConfigMapper">
    <select id="queryPage" resultType="org.astrsomn.core.common.dto.config.SystemConfigResponseDTO">
        SELECT
        SC.*
        FROM
        `SYS_CONFIG` SC
        WHERE
        1=1
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND SC.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.configKey != null and req.configKey != ''">
            AND SC.CONFIG_KEY LIKE CONCAT('%', #{req.configKey}, '%')
        </if>
        <if test="req != null and req.configGroup != null and req.configGroup != ''">
            AND SC.CONFIG_GROUP = #{req.configGroup}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND SC.STATUS = #{req.status}
        </if>
        ORDER BY
        SC.CREATE_TIME DESC
    </select>

</mapper>
