<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.astrsomn.core.mapper.SystemUserMapper">

    <select id="queryPage" resultType="org.astrsomn.core.common.dto.user.SystemUserResponseDTO">
        SELECT
        su.*
        FROM
        SYSTEM_USER su
        WHERE
        1=1
        <if test="req != null and req.username != null and req.username != ''">
            AND su.username LIKE CONCAT('%', #{req.username}, '%')
        </if>
        <if test="req != null and req.adminFlag != null and req.adminFlag != ''">
            AND su.admin_flag = #{req.adminFlag}
        </if>
        <if test="req != null and req.email != null and req.email != ''">
            AND su.email LIKE CONCAT('%', #{req.email}, '%')
        </if>
        ORDER BY
        su.create_time DESC
    </select>

</mapper>