<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.server.mapper.AiAccountMapper">

    <select id="queryPage" resultType="com.astrsomn.api.runtime.common.dto.account.AiAccountResponseDTO">
        select
        aa.ID,
        aa.ACCOUNT_KEY,
        aa.ACCOUNT_NAME,
        aa.EXTENSION_CODE,
        aa.API_URL,
        aa.ACCOUNT_TOKENS,
        aa.ENV_CODE,
        aa.DELETED,
        aa.CREATE_USER,
        aa.CREATE_TIME,
        aa.STATUS,
        se.avatar as PROVIDER_AVATAR,
        se.EXTENSION_NAME,
        coalesce(am_summary.usedInstanceCount, 0) as usedInstanceCount,
        am_summary.usedInstanceKeys,
        am_summary.usedInstanceNames
        from
        `AI_ACCOUNT` aa
        left join `SYS_EXTENSION` se on
        aa.EXTENSION_CODE = se.EXTENSION_CODE
        left join (
        select
        ACCOUNT_KEY,
        ENV_CODE,
        COUNT(1) as usedInstanceCount,
        GROUP_CONCAT(distinct INSTANCE_KEY order by INSTANCE_KEY separator ',') as usedInstanceKeys,
        GROUP_CONCAT(distinct INSTANCE_NAME order by INSTANCE_NAME separator ',') as usedInstanceNames
        from
        `AI_INSTANCE`
        where
        (DELETED = 0
        or DELETED is null)
        and ENV_CODE = 'PRO'
        group by
        ACCOUNT_KEY,
        ENV_CODE) am_summary on
        aa.ACCOUNT_KEY = am_summary.ACCOUNT_KEY
        and aa.ENV_CODE = am_summary.ENV_CODE
        where
        (aa.DELETED = 0
        or aa.DELETED is null)
        <if test="req != null and req.accountKey != null and req.accountKey != ''">
            AND aa.ACCOUNT_KEY LIKE CONCAT('%', #{req.accountKey}, '%')
        </if>
        <if test="req != null and req.accountName != null and req.accountName != ''">
            AND aa.ACCOUNT_NAME LIKE CONCAT('%', #{req.accountName}, '%')
        </if>
        <if test="req != null and req.extensionCode != null and req.extensionCode != ''">
            AND aa.EXTENSION_CODE = #{req.extensionCode}
        </if>
        <if test="req != null and req.createUser != null and req.createUser != ''">
            AND aa.CREATE_USER = #{req.createUser}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND aa.STATUS = #{req.status}
        </if>
        ORDER BY
        aa.CREATE_TIME DESC
    </select>
</mapper>
