<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.server.mapper.AiVecSourceMapper">

    <select id="queryPage" resultType="com.astrsomn.api.vector.dto.vecsource.AiVecSourceResponseDTO">
        SELECT
        s.*,
        e.AVATAR AS providerAvatar,
        e.EXTENSION_NAME AS extensionName,
        e.TYPE AS extensionType
        FROM
        `AI_VEC_SOURCE` s
        LEFT JOIN `SYS_EXTENSION` e ON s.EXTENSION_CODE = e.EXTENSION_CODE AND e.DELETED = 0
        WHERE
        s.DELETED = 0
        <if test="req != null and req.name != null and req.name != ''">
            AND s.NAME LIKE CONCAT('%', #{req.name}, '%')
        </if>
        <if test="req != null and req.extensionCode != null and req.extensionCode != ''">
            AND s.EXTENSION_CODE = #{req.extensionCode}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND s.STATUS = #{req.status}
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND s.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.createUser != null and req.createUser != ''">
            AND s.CREATE_USER = #{req.createUser}
        </if>
        ORDER BY
        s.CREATE_TIME DESC
    </select>

</mapper>
