<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.server.mapper.AiChatSessionMapper">

    <select id="queryPage" resultType="com.astrsomn.api.runtime.common.dto.chat.session.AiChatSessionResponseDTO">
        SELECT
            ACS.*
        FROM
            `AI_CHAT_SESSION` ACS
        WHERE
            ACS.DELETED = 0
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND ACS.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.memoryKey != null and req.memoryKey != ''">
            AND ACS.MEMORY_KEY = #{req.memoryKey}
        </if>
        <if test="req != null and req.sessionStatus != null and req.sessionStatus != ''">
            AND ACS.SESSION_STATUS = #{req.sessionStatus}
        </if>
        <if test="req != null and req.sessionTitle != null and req.sessionTitle != ''">
            AND ACS.SESSION_TITLE LIKE CONCAT('%', #{req.sessionTitle}, '%')
        </if>
        ORDER BY
            ACS.CREATE_TIME DESC
    </select>

</mapper>
