<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.server.mapper.AiVecDocMapper">

    <select id="queryPage" resultType="com.astrsomn.api.vector.dto.vecdoc.AiVecDocResponseDTO">
        SELECT
        *
        FROM
        `AI_VEC_DOC`
        WHERE
        DELETED = 0
        <if test="req != null and req.collectionId != null">
            AND COLLECTION_ID = #{req.collectionId}
        </if>
        <if test="req != null and req.docIdInStore != null and req.docIdInStore != ''">
            AND DOC_ID_IN_STORE = #{req.docIdInStore}
        </if>
        <if test="req != null and req.syncStatus != null and req.syncStatus != ''">
            AND SYNC_STATUS = #{req.syncStatus}
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.createUser != null and req.createUser != ''">
            AND CREATE_USER = #{req.createUser}
        </if>
        ORDER BY
        CREATE_TIME DESC
    </select>

</mapper>
