<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.server.mapper.AiSensitiveWordMapper">

    <select id="queryPage" resultType="com.astrsomn.api.runtime.common.dto.sensitiveword.AiSensitiveWordResponseDTO">
        SELECT
        ASW.*
        FROM
        `AI_SENSITIVE_WORD` ASW
        WHERE
        1=1
        <if test="req != null and req.word != null and req.word != ''">
            AND ASW.WORD LIKE CONCAT('%', #{req.word}, '%')
        </if>
        <if test="req != null and req.matchType != null and req.matchType != ''">
            AND ASW.MATCH_TYPE = #{req.matchType}
        </if>
        <if test="req != null and req.scopeKey != null and req.scopeKey != ''">
            AND ASW.SCOPE_KEY = #{req.scopeKey}
        </if>
        <if test="req != null and req.action != null and req.action != ''">
            AND ASW.ACTION = #{req.action}
        </if>
        <if test="req != null and req.status != null and req.status != ''">
            AND ASW.STATUS = #{req.status}
        </if>
        <if test="req != null and req.category != null and req.category != ''">
            AND ASW.CATEGORY = #{req.category}
        </if>
        ORDER BY
        ASW.CREATE_TIME DESC
    </select>

</mapper>
