<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.server.mapper.SystemUserMapper">

    <select id="queryPage" resultType="com.astrsomn.system.dto.user.SystemUserResponseDTO">
        SELECT
        su.*
        FROM
        `SYS_USER` su
        WHERE
        1=1
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND su.ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.username != null and req.username != ''">
            AND su.username LIKE CONCAT('%', #{req.username}, '%')
        </if>
        <if test="req != null and req.adminFlag != null and req.adminFlag != ''">
            AND su.ADMIN_FLAG = #{req.adminFlag}
        </if>
        <if test="req != null and req.userRole != null and req.userRole != ''">
            AND su.USER_ROLE = #{req.userRole}
        </if>
        <if test="req != null and req.email != null and req.email != ''">
            AND su.EMAIL LIKE CONCAT('%', #{req.email}, '%')
        </if>
        <if test="req != null and req.deleted != null">
            AND su.DELETED = #{req.deleted}
        </if>
        ORDER BY
        su.CREATE_TIME DESC
    </select>

</mapper>
