<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astrsomn.starter.runtime.mapper.SystemMessageMapper">

    <select id="queryPage" resultType="com.astrsomn.api.runtime.common.dto.systemmessage.SystemMessageResponseDTO">
        SELECT
            *
        FROM
            `SYS_MESSAGE`
        WHERE
            deleted = 0
        <if test="req != null and req.messageType != null and req.messageType != ''">
            AND MESSAGE_TYPE = #{req.messageType}
        </if>
        <if test="req != null and req.messageLevel != null and req.messageLevel != ''">
            AND MESSAGE_LEVEL = #{req.messageLevel}
        </if>
        <if test="req != null and req.readStatus != null and req.readStatus != ''">
            AND READ_STATUS = #{req.readStatus}
        </if>
        <if test="req != null and req.title != null and req.title != ''">
            AND TITLE LIKE CONCAT('%', #{req.title}, '%')
        </if>
        <if test="req != null and req.refType != null and req.refType != ''">
            AND REF_TYPE = #{req.refType}
        </if>
        <if test="req != null and req.refId != null">
            AND REF_ID = #{req.refId}
        </if>
        <if test="req != null and req.refKey != null and req.refKey != ''">
            AND REF_KEY = #{req.refKey}
        </if>
        <if test="req != null and req.source != null and req.source != ''">
            AND SOURCE LIKE CONCAT('%', #{req.source}, '%')
        </if>
        <if test="req != null and req.errorCode != null and req.errorCode != ''">
            AND ERROR_CODE = #{req.errorCode}
        </if>
        <if test="req != null and req.envCode != null and req.envCode != ''">
            AND ENV_CODE = #{req.envCode}
        </if>
        <if test="req != null and req.createUser != null and req.createUser != ''">
            AND CREATE_USER = #{req.createUser}
        </if>
        ORDER BY
            CREATE_TIME DESC
    </select>

</mapper>
